<%= form_for @invoice do |f| %>
  <%= render 'shared/errors', object: f.object %>  
  <fieldset>
    <%= f.label :customer %><%= f.text_field :customer %><br>
    <%= f.label :cust_contact %><%= f.text_field :cust_contact %><br>
    <%= f.label :date %><%= f.date_select :date %>
  </fieldset>
  <%= f.fields_for :invoice_items do |builder| %>
    <%= render "invoice_item_fields", :f => builder %>
  <% end %>
  <%= link_to_add_fields "Add Question", f, :invoice_items %>
  <p><%= f.submit "Submit" %></p>
<% end %>