<div id="InvoiceSmall">
  <h1>Customer Order</h1>
  <div id="InvShowLabel">
    Name:  
  </div>
  <div id="InvShowInfo">
    <%=h @invoice.customer %>
  </div>
  <div id="InvShowLabel">
     Contact: 
  </div>
  <div id="InvShowInfo">
    <%=h @invoice.cust_contact %>
  </div>
  <div id="InvShowLabel">
      Date: 
  </div>
  <div id="InvShowInfo">
    <%=h @invoice.date %>
  </div>
  <h3>Products order:</h3>
  <ul>
    <% for invoice_item in @invoice.invoice_items %>
    <li>    
      <%=h invoice_item.prod   %>   x<%=h invoice_item.quanity %>
    </li>
    <% end %>
  </ul>
</div>
<div id="InvLinks">
    <%= link_to "Edit", edit_invoice_path(@invoice) %> |
</div>